dialog {
    width: 300px;
    margin: auto auto;
    background-color: #eee;
    border: solid 2px;
    border-radius: 10px;
}

.form-container {
    padding: 0px;
    margin: 0;
    align-content: center;
    justify-content: center;
}
.form-input {
    margin: 0px;
}
.form-input label {
    display: block;
    line-height: 1.6;
    font-weight: semi-bold;
    text-align: left;
}

.form-input input{
    width: 95%;
    padding: 5px;
    margin-bottom: 10px;
}

.form-input input:invalid {
    border: 2px solid lightcoral;
}

.form-input input:valid {
    border: 2px solid lightseagreen;
}

.form-button {
    text-align: center;
}

.form-button button{
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.form-button button:hover {
    background-color: #45a049;
}

.switch-field{
   position: relative;
   margin-top: 15px;
   justify-content: center;
   width: 100%;
   display: flex;
}
.switch-field button {
    border: none;
    text-decoration: underline;
    border-radius: 2px;
    height: 25px;
    width: 90px;
    cursor: pointer;
}